<div class="sub-footer fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <strong>
              <li><a class="text-white" href="{{ .Site.Data.contact.onlineCalendarLink }}" target="_blank">{{
                  .Site.Data.contact.bookingSentence }}</a></li>
            </strong>
          </ul>
          <ul>
            <li>Telefoon: <a class="text-white" href="tel:{{ .Site.Data.contact.phone | urlize }}">{{
                .Site.Data.contact.phone }}</a></li>
            <li>Email: <a class="text-white"
                href="mailto:{{ .Site.Data.contact.email }}?subject=Question%20from%20{{ .Site.BaseURL }}">
                {{ .Site.Data.contact.email }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>