<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
              <li><strong>Telefoon: </strong><a href="tel:{{ .Site.Data.contact.phone | urlize }}">{{ .Site.Data.contact.phone }}</a></li>
            <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
          </ul>
          <ul>
              <li class="zerostatic"><a href="{{ .Site.Data.contact.onlineCalendarLink }}" target="_blank">Book Appointment</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
