{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        <li><strong>Telefoon: </strong><a href="tel:{{ .Site.Data.contact.phone | urlize }}">{{ .Site.Data.contact.phone }}</a></li>
        <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
        {{ with .Site.Data.contact.address }}
        <li style="white-space: pre-wrap;"><strong>Adres: </strong><br><a target="_blank" href="{{ $.Site.Data.contact.googleMapsLink }}">{{ . }}</a></li><br>
        <iframe src="{{ $.Site.Data.contact.googleMapsEmbed }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        {{ end }}
      </ul>
      <h4 class="mt-4">Openingsuren</h4>
      <table class="table table-sm opening-hours-table">
        {{ range .Site.Data.contact.hours }}
        <tr>
          <td class="day font-weight-bold">{{ .day }}</td>
          <td class="opens">{{ .open }}</td>
          <td>-</td>
          <td class="closes">{{ .close }}</td>
          {{ with .open2 }}
          <td class="opens">{{ . }}</td>
          {{ end }}
          {{ with .close2 }}
          <td>-</td>
          <td class="closes">{{ . }}</td>
          {{ end }}
        </tr>
        {{ end }}
      </table>
    </div>
  </div>
</div>
{{ end }}
